<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Erreur 404 : Page {{ route }} non trouvée</title>
    <link rel="shortcut icon" href="resources/img/errors/exception.svg"/>
    <link rel="stylesheet" href="resources/css/errors/exception.css"/>
</head>

<body>
<header>
    <img src="resources/img/fork.svg" alt="Fork">
</header>
<main>
    <p>{{ exception }}</p>
    <a href="/Fork">Retour à l'accueil</a>
</main>
</body>
</html>