Options +FollowSymlinks

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(.*) public/index.php [L]
</IfModule>


<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ public/index.php
    </IfModule>
</IfModule>