Options +FollowSymlinks

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^([a-z0-9-/_]*)$ public/index.php?url=$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ public/index.php
    </IfModule>
</IfModule>