@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Lato, sans-serif;
}

header {
    padding: 1em;
    text-align: center;
}

header img {
    border-radius: 1em;
}


main {
    padding-top: 3em;
    text-align: center;
}

h1 {
    font-size: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
}

p {
    font-size: 2em;
    padding-bottom: 1em;
}

a {
    font-size: 2em;
    color: black;
}
a:hover {
    text-decoration: none;
}