{% extends 'base.html.twig' %}

{% block title %}Fork{% endblock %}


{% block body %}
    <div>
        <img src="{{ asset('img/fork.svg') }}" alt="Fork"/>
        <h1>Fork</h1>
        <p>Page de base du framework</p>
    </div>
{% endblock %}